@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#root {
  padding: 2rem;
  font-family: "Varela Round", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.icon:hover {
  color: red;
  border-radius: 20px;
}

